@import "colors";
@import "mediaquery";

.form {
  display: flex;
  flex-direction: column;
  margin-left: -2.5rem;

  h1 {
    color: white;
    margin: 0;
  }

  input {
    margin-top: 1.4rem;
    padding: 1rem 1.4rem 1rem 1.4rem;
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    background-color: transparent;
    min-width: 360px;
    transition: border 200ms ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid $secondary-color-one;
      transition: border 200ms ease-in-out;
      color: $secondary-color-one;

      &::placeholder {
        color: $secondary-color-one;
      }
    }

    &::placeholder {
      color: white;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $primary-color-blue;
    border: none;
    color: white;
    margin-top: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50px;
    font-size: 1.1rem;
    transition: background-color 200ms ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $secondary-color-two;
      transition: background-color 200ms ease-in-out;
    }
  }

  .form-text-sm {
    align-self: flex-end;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 0.8rem;

    span {
      color: white;
      text-decoration: underline;
    }
  }
}

// media queries

@include maxWidth(1100px) {
  .form {
    h1 {
      font-size: 1.5rem;
    }

    input {
      margin-top: 1.1rem;
      padding: 0.8rem 1.2rem 0.8rem 1.2rem;
      font-size: 0.9rem;
      min-width: 320px;
    }

    button {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      font-size: 0.9rem;
    }
  }
}

@include maxWidth(600px) {
  .form {
    h1 {
      font-size: 1.2rem;
    }

    input {
      margin-top: 1.1rem;
      padding: 0.6rem 1rem 0.6rem 1rem;
      font-size: 0.7rem;
      min-width: 280px;
    }

    button {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      font-size: 0.7rem;
    }
  }
}
